outputs
wwiseparser
rawbnkoutputs
raw_outputs
Resources/Unpacker/DestinyUnpackerCPP.exe
Resources/Unpacker/oo2core_3_win64.dll
Resources/Unpacker/oo2core_9_win64.dll
Resources/Unpacker/res/vgmstream/avcodec-vgmstream-58.dll
Resources/Unpacker/res/vgmstream/avformat-vgmstream-58.dll
Resources/Unpacker/res/vgmstream/avutil-vgmstream-56.dll
Resources/Unpacker/res/vgmstream/jansson.dll
Resources/Unpacker/res/vgmstream/libatrac9.dll
Resources/Unpacker/res/vgmstream/libcelt-0061.dll
Resources/Unpacker/res/vgmstream/libcelt-0110.dll
Resources/Unpacker/res/vgmstream/libg719_decode.dll
Resources/Unpacker/res/vgmstream/libmpg123-0.dll
Resources/Unpacker/res/vgmstream/libspeex.dll
Resources/Unpacker/res/vgmstream/libvorbis.dll
Resources/Unpacker/res/vgmstream/swresample-vgmstream-3.dll
Resources/Unpacker/res/vgmstream/vgmstream-cli.exe
Resources/Unpacker/res/vgmstream/vgmstreamlicense.txt
Resources/Unpacker/res/wwiser/init.bnk
Resources/Unpacker/res/wwiser/wwiser.pyz
Resources/Unpacker/res/wwiser/wwnames.db3
